<div style="text-align:center">
  <h1>Modificación de rol</h1>
  <div style="margin-top:2%">
    <form method="post" action="/api/users/premium/">
      <label for="userid">Ingrese el ID de usuario</label>
        <input type="text" id="userid" name="userid" />
      </br>
      <a href="/"><button type="button" id="login" style="margin-right:3%"> Volver atrás </button></a>
      <button type="submit" style="margin-top:1%"> Modificar </button>
    </form>
    </br>
    {{mensajeResultado}}
  </div>
  
</div>