<div style="text-align:center">
  <h1>Reinicio de contraseña</h1>
  <div style="margin-top:2%">
    <form method="post" action="/api/sessions/forgotpassword">
      <label for="user">Ingrese su usuario</label>
        <input type="text" id="user" name="user" />
      </br>
      <a href="/"><button type="button" id="login" style="margin-right:3%"> Volver atrás </button></a>
      <button type="submit" style="margin-top:1%"> Restablecer </button>
    </form>
    </br>
    {{mensajeResultado}}
  </div>
  
</div>