<div style="text-align:center">
  <h1>Restablecimiento de contraseña</h1>
  <div style="margin-top:2%">
    <form method="post" action="/api/sessions/resetpassword?token={{token}}">
      <label for="user">Usuario</label>
        <input type="text" id="user" name="user" value="{{user}}"/>
      </br>
      <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </br>
      <a href="/"><button type="button" id="login" style="margin-right:3%"> Volver atrás </button></a>
      <button type="submit" style="margin-top:1%"> Restablecer </button>
    </form>
    </br>
    {{mensajeResultado}}
  </div>
  
</div>